
{% load static %}
{% load embed_video_tags %}
{% block others %}
<title>Movie Ticket Reservation</title>
{% endblock others %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">



    {% include "partials/navbar.html" %}
    <section class="min-h-screen bg-black bg-opacity-75 showcase border-gray-100 flex justify-center items-center bg-no-repeat"  style="background-color: #000000;">
       
    <div class="card mb-3" align="center">
        <div class="" style="background-color:#000000">
          <div class="center">
            <img src="{{movie.image.url}}" class="img-fluid rounded-start" alt="..." width="560px" height="720px">
          </div>
          </div>
          <div>
            <div class="card-body" style="background-color:#000000">
              <p>{% video movie.url '420x360'%}</p>
              <p class="card-title">Cast: {{movie.cast}}</p>
              <p class="product-full-description">{{movie.description}}</p>
              <p class="card-title">Genre: {{movie.genre}}</p>
              <p class="card-price">₱{{movie.price}}<span class="actual-price">₱300</span></p>
              <form method="POST" class="form-outline">
                {% csrf_token %}
                <p class="card-price">Number of Tickets:</p><input placeholder="Quantity" type="number" name="quantity" min="0" max="20" style="width: 10%; height: 20;"  value="{{movie.quantity}}">
                <input type="submit" name="Save Tickets" style="align-items:center;">
              </form>

              <div id="paypal-button-container" align="center"></div>
              
            </div>
      </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=ATEtQQl13qDXPSY6IQl1DdmtH7x4PElWDxhen0iFdVJtaJFpDKXnam29U01KwchzSEJtEQfLmgDaj7Sh&currency=PHP"></script>
            <!-- Set up a container element for the button -->
            
            <script>

            var total = '{{movie.quantity}}'

            paypal.Buttons({
                // Sets up the transaction when a payment button is clicked
                createOrder: (data, actions) => {
                return actions.order.create({
                    purchase_units: [{
                    amount: {
                        value: total * 270 // Can also reference a variable or function
                    }
                    }]
                });
                },
                // Finalize the transaction after payer approval
                onApprove: (data, actions) => {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For dev/demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    const transaction = orderData.purchase_units[0].payments.captures[0];
                    alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                    // When ready to go live, remove the alert and show a success message within this page. For example:
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
                }
            }).render('#paypal-button-container');
            </script>  


    </section>
    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 0vh;">
    </section>
    <footer class=" px-5 py-10 " style="background-color:#000000;" align="center">
      <div class="row">
          <div class="footer-col" style="width: 720px;">
              <ul class="social-links">
                  <li><a href="https://www.facebook.com/LanderMtthw.CG"><img src="{% static 'images/fb2.png'%}"></a></li>
                  <li><a href="https://www.instagram.com/_notlandthere/"><img src="{% static 'images/ig2.png'%}"></a></li>
                  <li><a href="https://twitter.com/Kekwkekwww"><img src="{% static 'images/twit2.png'%}"></a></li>
              </ul>
              <ul class="menu">
                  <li><a href="{% url 'browsing:about'%}">About</a></li>
                  <li><a href="{% url 'browsing:services'%}">Services</a></li>
                  <li><a href="{% url 'browsing:privacy' %}">Privacy</a></li>
                  <li><a href="{% url 'browsing:faq' %}">FAQ</a></li>
              </ul>
              <h6 style="color:white ;">©2022 Movie Ticket Reservation | All Rights Reserved</h6>
          </div>
      </div>
</footer>
