
{% load static %}
{% load embed_video_tags %}
{% block others %}
<title>About Us</title>
{% endblock others %}   
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<head>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap2.css' %}"
   integrity="sha384-
  B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous">
  </head>
    {% include "partials/navbar.html" %}
    <section class="bg-black bg-opacity-0"  style="min-height: 0vh;">
    </section>
    <section class="product" style="min-height: 100vh ;">
          
          <div class="bg-light">
            <div class="product py-5">
              <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                  <h1 class="sub-name">ABOUT US</h1>
                  <p class="lead text-muted mb-0">Movie Ticket Reservation is the best one could ask for when it comes to booking and reserving tickets to your favorite movie in a cinema near you. We offer the latest movies available, freshly released blockbusters, and exclusive treatment to our customers who book in advance their tickets using our system. 
                    Here, users of the system come first. Therefore, please rest assured that there won't be any fraud and your requests and messages will all be appreciated. </p>
                  </p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
              </div>
            </div>
          </div>
          
          <div class="bg-black py-5">
            <div class="product py-5">
              <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                  <h2 class="sub-name">What is Movie Ticket Reservation?</h2>
                  <p class="font-italic text-muted mb-4">This is the place to go when you are looking for tickets to reserve for the movie that will be premiered in cinemas. Whatever latest movie you want to have exclusive, first come first served experience we can offer. We have an extensive content library that you can search on to check on that movie that you are excited about and reserve a ticket without having to leave your house and get off the comfort of your couch.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><video src="{%static 'images/website.mp4'%}" autoplay alt="" class="img-fluid mb-4 mb-lg-0" autoplay muted></video></div>
              </div>
              <div class="row align-items-center">
                <div class="col-lg-5 px-5 mx-auto"><img src="{%static 'images/WEBSITELOGO.png'%}" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                  <h2 class="sub-name">Why you should use our system?</h2>
                  <p class="font-italic text-muted mb-4">1. Safety
                    We understand that safety is one of the users' biggest concerns especially when it comes to paying online, and we can assure you that our payment processes are without fraud and scam free, or get your money back quick and easy.</p>
                    <p class="font-italic text-muted mb-4">2. Amazing user-interface
                        This is how a system should look, clean, well-organized, and premium. Not only that but this site is easy to navigate and completely user friendly that even a child can easily understand how our system works. </p>
                    <p class="font-italic text-muted mb-4">3. Impressive content library
                        We have an up to date library with all the upcoming movies that will surely want you to visit the cinema.</p>
                    <p class="font-italic text-muted mb-4">4. Device compatibility
                        You can use our system on your PC, Phone, Tablet, etc., our system is just that compatible with any device can access the internet. </p>
                    <p class="font-italic text-muted mb-4">5. Great customer care
                        Customers always come first so your experience matters to us. We are always open for suggestions and feedback. You can connect with us using our social media and rest assure that your needs and interests will be taken care of.</p>
                    <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="bg-black py-5">
            <div class="product py-5">
              <div class="row mb-4">
                <div class="col-lg-12">
                  <h2 class="sub-name">OUR TEAM</h2>
                  <p class="font-italic text-muted">The team behind this Movie Ticket Reservation website.</p>
                </div>
              </div>
          
              <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color:rgb(10, 10, 10) ;" align="center"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="name">Lander Matthew Gucela</h5><span class="small text-uppercase text-muted">Full-Stack Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/LanderMtthw.CG" class="social-link"><img src="{%static 'images/fb3.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="https://twitter.com/Kekwkekwww" class="social-link"><img src="{%static 'images/twit1.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/_notlandthere/"" class="social-link"><img src="{%static 'images/ig1.png'%}"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color:rgb(10, 10, 10) ;" align="center"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="name">Rachey Joyce Manalo</h5><span class="small text-uppercase text-muted">Front-End Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/ssixfeetunder/" class="social-link"><img src="{%static 'images/fb3.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="https://twitter.com/tkrw_" class="social-link"><img src="{%static 'images/twit1.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><img src="{%static 'images/ig1.png'%}"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color:rgb(10, 10, 10) ;" align="center"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="name">Windel Joshua Quinlob</h5><span class="small text-uppercase text-muted">Front-End Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/wawaquinlob" class="social-link"><img src="{%static 'images/fb3.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><img src="{%static 'images/twit1.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/windeljoshua/" class="social-link"><img src="{%static 'images/ig1.png'%}"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
          
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="rounded shadow-sm py-5 px-4" style="background-color:rgb(10, 10, 10) ;" align="center"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="name">Cristian Jay Caasi</h5><span class="small text-uppercase text-muted">Front-End Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item"><a href="https://www.facebook.com/cristian.caasi7?mibextid=ZbWKwL" class="social-link"><img src="{%static 'images/fb3.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="social-link"><img src="{%static 'images/twit1.png'%}"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/sheettte/" class="social-link"><img src="{%static 'images/ig1.png'%}"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="rounded shadow-sm py-5 px-4" style="background-color:rgb(10, 10, 10) ;" align="center"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="name">Jenifer Nicole Cerbas</h5><span class="small text-uppercase text-muted">---------</span>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://www.facebook.com/jennifernicole.cerbas" class="social-link"><img src="{%static 'images/fb3.png'%}"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><img src="{%static 'images/twit1.png'%}"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><img src="{%static 'images/ig1.png'%}"></i></a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="rounded shadow-sm py-5 px-4" style="background-color:rgb(10, 10, 10) ;" align="center"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="name">Al Asaari</h5><span class="small text-uppercase text-muted">---------</span>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="" class="social-link"><img src="{%static 'images/fb3.png'%}"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-link"><img src="{%static 'images/twit1.png'%}"></i></a></li>
                        <li class="list-inline-item"><a href="" class="social-link"><img src="{%static 'images/ig1.png'%}"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  
              </div>
            </div>
          </div>

    </section>
    <section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 0vh;">
    </section>
    <footer class=" px-5 py-10 " style="background-color:#000000;" align="center">
      <div class="row">
          <div class="footer-col" style="width: 720px;">
              <ul class="social-links">
                  <li><a href="https://www.facebook.com/LanderMtthw.CG"><img src="{% static 'images/fb2.png'%}"></a></li>
                  <li><a href="https://www.instagram.com/_notlandthere/"><img src="{% static 'images/ig2.png'%}"></a></li>
                  <li><a href="https://twitter.com/Kekwkekwww"><img src="{% static 'images/twit2.png'%}"></a></li>
              </ul>
              <ul class="menu">
                  <li><a href="{% url 'browsing:about'%}">About</a></li>
                  <li><a href="{% url 'browsing:services'%}">Services</a></li>
                  <li><a href="{% url 'browsing:privacy' %}">Privacy</a></li>
                  <li><a href="{% url 'browsing:faq' %}">FAQ</a></li>
              </ul>
              <h6 style="color:white ;">©2022 Movie Ticket Reservation | All Rights Reserved</h6>
          </div>
      </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
