/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: rgb(41, 40, 40);
  text-decoration: none;
  color: #555;
}

.name{
  color: white;
}

.sub-name{
  color: white;
  font-size: 62px;
  font-style: italic;
  font-weight: bold;
}

.img{
  align-items: center;
}

/*FAQs*/
h2 {
  font-family: Arial, Verdana;
  font-weight: 800;
  font-size: 2.5rem;
  color: #ffffff;
  text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: rgb(5, 5, 5);
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #f5f5f5;
  float: right;
  margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.box{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-group{
  background-color: rgb(0, 0, 0);
}

li{
  color: white;
}

.collapsed{
  color: white;
}


