
.height{

    height: 20vh;
}

.form{
    align-items: center;
    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 200px;
    color: #9ca3af;

}

.form span{
    height: 5.6vh;
        position: absolute;
    right: 50px;
    top: 1px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{
    width: 1000px;
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.btn-outline-secondary{
    width: 50px;
}